<%- include('partials/header') %>

<section class="error">
  <h2>Det oppstod en feil</h2>
  <p><%= message %></p>
  <p><a href="/">Tilbake til forsiden</a></p>
</section>

<%- include('partials/footer') %>
