<%- include('partials/header') %>

<section class="hero">
  <h2>Velkommen</h2>
  <p>
    Dette er varslingssystemet til Kommune 69. Her kan ansatte registrere
    og følge opp hendelser som vannlekkasje, brannfare, IT-feil,
    strømproblemer og andre avvik.
  </p>
</section>

<%- include('partials/footer') %>
